*{
    padding: 0;
    margin: 0;
}
/* overflow hidden means that when these elements go out of the box we can't see them anymore */
#game{
    width: 774px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background-image: url("https://i.pinimg.com/originals/c1/1b/d2/c11bd238fcd2098bfc24d3722352ec45.jpg")
}
/* left property only works if the div has a relative position */
#block{
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 774px;
    animation: block 2s infinite linear;
}

#blocky{
    width: 50px;
    height: 500px;
    background-color: black;
    position: relative;
    left: 774px;
    animation: block 2s infinite linear;
}
/* left negative 50 pixels means the animation stops when it has gone to the -50px position meaning it has gone accross the screen and the entire width of the block (50px) has also */
@keyframes block {
    0%{left: 774px;}
    100%{left: -50px;}
}

@keyframes blocky {
    0%{left: 774px;}
    100%{left: -50px;}
}
/* the hole is going to get positioned on top of the block */
#hole{
    width: 50px;
    height: 150px;
    background-color: #ffffff;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s infinite linear;
}

#hole{
    width: 50px;
    height: 150px;
    background-color: #ffffff;
    position: relative;
    left: 400px;
    top: -500px;
    animation: blocky 2.2s infinite linear;
}

#character{
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    position: absolute;
    top: 100px;
    border-radius: 50%;
}